*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.eventPage-body{
    /* background-color: burlywood; */
    height: 100%;
    width: 100%;
    display: flex;
}
.eventPage__header__events__wrapper{
    /* background-color: rgb(253, 164, 164); */
    width: 70%;
    height: 100%;

   display: flex;
   flex-direction: column;
}


.eventPage-filters{
    grid-area: filters;
 }

 
.eventPage-events-header-container{
    grid-area: events_container;

    background-color:#fff;

    position: relative;
    height: 100%;
}

.eventPage__calendar_wrapper{
    width: 30%;
    position: relative;
}

.eventPage__calendar_agenda__container{
    /* background-color: green; */
    width: 100%;
    height: 100%;
    overflow: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;

}


.eventPage-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: inherit;
    align-items: center;
    padding-left: 2rem;
    padding-bottom: 1rem;
    /* border-bottom: 0.5px solid darkgrey; */
}
#eventPage-filter-btn{
    background-color:lightgrey;
    border: none;
    border-radius: 10px;
    padding: 0.3rem 1.5rem;
    margin-right: 2rem;
}

#eventPage-filter-btn:hover{
    background-color: rgb(175, 175, 175);
}
.eventPage-searchBar{
    align-self: center;
}

.eventPage-events-container{

    grid-area: eventPage_calendar_container;
    height: 100%;
    width: 100%;
    background-color: inherit;
    padding: 0.7rem;
    position: absolute;
    overflow-y: auto;

    /* Grid layout */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem,1fr));
    row-gap: 1rem;
    column-gap: 1.1rem;
    align-items: start;
    justify-items: start;
    align-items: flex-start;
    
}



/* Collapsable filter component */


.eventpage-filter-collapsable-preRender{
    display: none;
}


.eventpage-filter-collapsable-inactive{
    width: 100%;
    display: flex;
    padding: 0 3rem;
    border-bottom: 1px solid darkgrey;
    /*   
    
    animation_name
    animation_duration
    animation_type
    animation_fill_mode
    repetation number
    direction of animation
    animation delay
    */
    animation: collapse-out 0.3s linear forwards;
}

.eventpage-filter-collapsable{
    width: 100%;
    display: flex;
    border-bottom: 1px solid darkgrey;
    padding: 0 3rem;
    animation: collapse-in 0.3s linear forwards ;
    /* forwards -> keeps the property from 100% */
}


@keyframes collapse-in{
    /* starting from height of 0px */
    0%{
        height: 0px;
    }
    /* end at height of 200px */
    100%{
        height: 200px;
    }
}
@keyframes collapse-out{
    /* starting from this state + properties of (.eventpage-filter-collapsable-inactive) */
    0%{
        height: 200px;
    }
    /* this is the final statge, all properties is gonna be same of (.eventpage-filter-collapsable-inactive)
    
    but as we mentioned (forwards -> this keeps all the properties from 100% state)
    
    height : 0px --> will be added to inactive state
    display : none (display: flex --> will be replaced after animation ends)
    */
    100%{
        height: 0px;
        display: none;
    }
}



.eventpage-filter-container{
    flex: 1;
    /* background-color: rgb(208, 0, 0); */
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding-right: 5rem;
}

.eventpage-filter-container p {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    border-bottom:1px solid darkgrey ;
    font-weight: bold;
}

.eventpage-filter-container ul li button{
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.eventpage-filter-container ul li button:hover{
    background-color: rgb(214, 214, 214);
    padding: 0.2rem;
}



@media (max-width: 1200px){
    .eventPage__header__events__wrapper{
        width: 60%;
    }
    .eventPage__calendar_wrapper{
        width: 40%;
        /* background-color: green; */
    }
    .eventPage-header{
        padding-left: 1rem;
    }
    #eventPage-filter-btn{
        margin-right: 1rem;
        padding: 0.1rem 1rem;
    }
    .eventpage-filter-container {
        padding-right: 1rem;
        margin: 0.5rem;
    }
    .eventpage-filter-collapsable{
        padding: 0 1rem;

    }
    
}


@media (max-width: 880px){
    .eventPage__header__events__wrapper{
        width: 100%;
    }
    .eventPage__calendar_wrapper{
        display: none;
    }
}

@media (max-width: 480px){
    .eventPage-header{
        padding-top: 1rem;
    }
    .eventpage-filter-container p {
        font-size: 0.8rem;
    }
    .eventPage-header{
        flex-direction: column-reverse;
        align-items: start;
    }
    .eventPage-searchBar{
        margin-bottom: 0.5rem;
    }

    /* grid layout change */
    .eventPage-events-container{
        grid-template-columns: 1fr;
    }
}
