
.createDiscussion__container{
    width: 100%;
    height: 100%;
    position: relative;
}


.createDiscussion__wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow-y: auto;

    display: grid;
    grid-template-areas:
    'question tag'
    'markdown markdown'
    ;
    grid-template-rows: 0.5fr 1fr;
}

.createDiscussion__wrapper > div:nth-child(1){
    flex: 1;
    grid-area: question;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
/* question input */
.createDiscussion__wrapper > div:nth-child(1) > textarea{
    height: 30%;
    border-radius: 0.5rem;
    border: 1px solid darkgrey;
    padding: 0.5rem;
    margin: 1rem 0;

    font-size: 1.2rem;
    line-height: 1.5rem;
}

/* all labels */
.createDiscussion__wrapper  label{
    font-size: 1.2rem;
    font-weight: bold;
}

/* submit button */
.createDiscussion__submit_btn{
    min-width: 2rem;
    background-color: rgb(106, 180, 255);
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(0, 75, 150);
}

.createDiscussion__wrapper > div:first-child > button:hover{
    transform: scale(0.99);
    opacity: 0.9;
}

/* description input */
.createDiscussion__wrapper > div:nth-child(2){
    flex: 1;
    /* background-color: yellowgreen; */
    padding: 1.5rem;
    grid-area: tag;
}


.createDiscussion__tags{
    display: flex;
    flex-wrap: wrap;
}

.createDiscussion__tag__form > input{
    padding: 0.5rem;
    margin: 1rem 1.5rem 0 0 ;
    border-radius: 0.5rem;
    border: 1px solid darkgrey;
}

.createDiscussion__tag__form > button{
    padding: 0.5rem;
}

/* markdown */

.markdown__editor__container{
    grid-area: markdown;
    padding: 0 2rem;
}

.markdown__editor{
    margin-top: 1rem;
    border: 0.1rem solid darkgrey;
}


@media (max-width: 1080px){
    .createDiscussion__wrapper{
        grid-template-areas:
    'question'
    'tag'
    'markdown'
    ;
    }
}